/**
 * @file
 * Styles for menus that are placed in the sidebar.
 */

aside.sidebar {
  nav[role=navigation] + .block-title {
    margin-bottom: 0;
  }

  ul.menu {
    border-top: 1px solid #dddddd;
    line-height: 1.45;
    margin-top: 20px;

    > li {
      display: block;
      padding: 0;
      border-bottom: 1px solid $gray-lt;
    }

    a {
      display: block;
      font-size: 18px;
      color: $carbon;
    }

    a:hover,
    a:focus {
      color: $blue-med;
      background-color: $gray-shade;
    }

    a.is-active {
      color: $blue-med;
    }
  }
}
