// Non-modular or client styles for asides or sidebars.

.off-canvas {
  background-color: $blue-dk;
}
.js-off-canvas-exit {
  background: transparent;
}

.region-right-off-canvas {

  // Main menu on small viewports.
  //
  // See _header.scss for main menu on large viewports
  .menu {
    background-color: rgba(0, 0, 0, 0.1);
    color: $white;
    font-family: $sans;
    font-size: 1.25rem;
    list-style: none;
    margin: 0;

    a {
      display: block;
      padding: 0.5rem 1.5rem;
      border-bottom: 1px solid $blue-meddk;

      color: $white;
      text-decoration: none;

      &:hover,
      &.is-active {
        color: $blue-lt;
      }
    }

    a:hover,
    [aria-expanded="true"] > a {
      background-color: $blue-xdk;
    }

    ul {
      font-size: 1rem;

      a {
        text-transform: none;
        padding: 0.5rem 2rem;
      }
    }

  }

}
