// Non-modular or client styles for .l-footer region.


footer.bottom-bar {
  background: $blue-dk;
  color: $white;
  padding: 2rem 0;

  .y-icons.y-yale {}

  .copyright {
    margin-top: 0.1rem;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
      color: $blue-xlt;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  nav.block-social-menu {
    float: right;
    font-size: 1.375rem;

    ul {
      list-style-type: none;
      margin: 0;
    }

    li {
      display: inline-block;

      a {
        margin-right: 0.5rem;
      }

      &:last-child a {
        margin-right: 0;
      }
    }
  }
}
