// Non-modular or client styles for .l-header region.

.region__meta-header {
  position: relative;
  background-color: $gray-shade;
  border-top: 7px solid $blue-dk;
  line-height: 3.5rem;

  a {
    color: $blue-dk;
    text-decoration: none;
    
    &:hover {
      color: $blue-med;
    }
  }
  .y-yale.y-univ {
    display: block;
    line-height: 3.5rem;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 1px solid $gray-lt;
    box-sizing: content-box;
    margin: 0 rem-calc(map_get($grid-column-gutter, small) / -2);
    padding: 0 rem-calc(map_get($grid-column-gutter, small) / 2);

    @include breakpoint (medium) {
      margin: 0 rem-calc(map_get($grid-column-gutter, medium) / -2);
      padding: 0 rem-calc(map_get($grid-column-gutter, medium) / 2);
    }

    @include breakpoint (large) {
      display: inline-block;
      height: auto;
      width: auto;
      border-bottom: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }

  button[data-toggle] {
    position: absolute;
    top: 0.1875rem;
    right: rem-calc(map_get($grid-column-gutter, small) / 2);

    background-color: $gray-xlt;
    color: $carbon;
    font-size: 2rem;

    padding: 0.5rem 0.75rem;

    @include breakpoint (medium) {
      right: rem-calc(map_get($grid-column-gutter, medium) / 2);
    }

    @include breakpoint (large) {
      display: none;
    }
  }

  .block-searchform {
    background-color: $gray-xlt;
    padding: 0 1rem;
    margin: 0 rem-calc(map_get($grid-column-gutter, small) / -2);

    h2 {
      display: none; // Field label gives screen reader context.
    }

    form > div {
      display: inline;
    }
    .form-submit {
      @include element-invisible;
    }

    i {
      display: inline-block;
      width: 1.2rem;
    }
    input[type=search] {
      display: inline-block;
      border: none;
      background-color: transparent;
      box-shadow: none;
      margin: 0;
      width: auto; // Use size attribute for older browsers.
      width: calc(100% - 1.5rem); // Accommodate space of search icon + inline-block spacing.
      min-width: 10rem;

      &::placeholder {
        color: $gray-dk
      }

      &:hover, &:focus {
        background-color: $white;
      }
    }

    @include breakpoint(medium) {
      & {
        float: right;
        margin: 0;
      }

      input[type=search] {
        width: auto;
      }
    }
    @include breakpoint(large) {
      & {
        margin: 0;
      }
    }

  }

  @include breakpoint(medium) {
    .y-icons + .block-searchform {
      // Adjust for padding of column if search form is displayed rightmost.
      margin: 0 rem-calc(map_get($grid-column-gutter, medium) / -2) 0 0;
    }
  }
  @include breakpoint(xlarge) {
    .y-icons + .block-searchform {
      margin: 0;
    }
  }

  nav {

    @include breakpoint(medium down) {
      margin-left: rem-calc(map_get($grid-column-gutter, medium) / -2);
    }

    @include breakpoint(large) {
      float: right;
    }

    ul {
      overflow: hidden;
      margin: 0;
    }

    li {
      float: left;
      display: block;

      @include breakpoint(medium) {
        border-right: 1px solid $gray-lt; // If menu is first in source (displayed rightmost).
      }

      a {
        display: inline-block;
        padding: 0 1.75rem;
        font-family: $sans;
        text-transform: uppercase;
        line-height: 3.5rem;
        color: $carbon;

        &:hover {
          background-color: $gray-xlt;
        }
      }
    }
  }

  @include breakpoint(large) {
    .block-searchform + nav {
      li {
        // If search is first in source (displayed rightmost).
        border-right: none;
        border-left: 1px solid $gray-lt;
      }
    }
  }
}

#site-name {
  font-family: $serif;
  font-size: 3.05em;
  margin-top: 0.5em;
  margin-bottom: 0.34em;
  line-height: 1.1;

  a {
    text-decoration: none;
    color: $blue-dk;

    &:hover {
      color: $blue-med;
    }
  }
}

.skip-link {
  text-align: center;
  display: block;
  outline: none;
  padding-top: 7px; // Same as border-top-width on .region__meta-header
  &:hover,
  &:focus,
  &:active {
    color: $gray-shade;
    text-decoration: none;
  }
}

// Main menu on large viewports.
//
// See _aside.scss for main menu on small viewports
.block-main-menu {
  display: none;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  background-color: $carbon;

  color: $white;
  font-family: $sans;
  font-size: 1.375rem;

  @include breakpoint(large) {
    display: block;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }

  li {
    float: left;
  }

  li:first-child {
    margin-left: -1.35%;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    &.is-active, &:hover {
      color: $blue-lt;
    }
  }

  a:hover,
  [aria-expanded="true"] > a {
    background-color: $gray-dk;
  }

  ul ul {
    display: none;
    background-color: $gray-dk;
    border: none;
    font-size: 1.1rem;

    li {
      padding: 0 1rem;
    }

    li:first-child {
      margin-left: 0;
    }

    a {
      text-transform: none;
      border-bottom: 1px solid $gray-med;
      padding: 0.5rem 0;
    }

    li:last-child a {
      border-bottom: none;
    }
  }
}
