// @file
// Place your mixins here. Feel free to roll your own mixins.


// Font-Smoothing
//
// https://gist.github.com/adamstac/5048881
// https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
//
// Values: none, antialiased (default), subpixel-antialiased
// @include font-smoothing($value: none);
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
